@using WebApplication1.ViewModel
@model IEnumerable<ExpenseVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<a class="btn btn-success m-4" role="button" asp-action="Create">Create Expense</a>
<br />
<div class="border-section p-4">
    <div class="py-5 text-center ">

        <h4 class=" h4-skills text-center ">FILTERS </h4>

    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <form asp-action="Index" method="get" class="text-center">
                <!-- Your other form elements -->

                <input type="hidden" name="yourBooleanValue" id="yourBooleanValue" value="false" />

                <button type="submit" class="btn btn-primary">Priority true</button>
            </form>

            <!-- Toggle the hidden input value using JavaScript -->
            <script>
                document.getElementById('yourBooleanValue').value = false;  // Set to true when the button is clicked
            </script>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <form asp-action="Index" method="get" class="text-center">
                <!-- Your other form elements -->

                <input type="hidden" name="yourBooleanValue" id="BooleanValue" value="false" />

                <button type="submit" class="btn btn-primary">Priority false</button>
            </form>

            <!-- Toggle the hidden input value using JavaScript -->
            <script>
                document.getElementById('BooleanValue').value = true;  // Set to true when the button is clicked
            </script>


        </div>
    </div>
  
  
    <br />
    <form asp-action="Index">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="searchValue" />
            <button type="submit" class="btn btn-outline-primary" value="search">search</button>
        </div>
    </form>


</div>




@if (Model.Count() > 0)
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(D => D.Title)</th>
                <th scope="col">@Html.DisplayNameFor(D => D.AmountMoney)</th>
                <th scope="col">@Html.DisplayNameFor(D => D.Priority)</th>
                <th scope="col">@Html.DisplayNameFor(D => D.ExpenseDate)</th>



                <th scope="col">Update</th>
                <th scope="col">Delete</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var Expense in Model)
            {
                <tr>
                    <th scope="row">@Expense.Title</th>
                    <th scope="row">@Expense.AmountMoney</th>
                    <th scope="row">@Expense.Priority</th>
                    <th scope="row">@Expense.ExpenseDate</th>


                   
                    <td><a asp-action="Edit" asp-route-id="@Expense.Id"><i class="fas fa-edit"></i></a></td>
                    <td><a asp-action="Delete" asp-route-id="@Expense.Id"><i class="fas fa-trash-alt text-danger"></i></a></td>

                </tr>
            }
        </tbody>
    </table>


}
else
{
    <div class="alert alert-warning" role="alert">
        there is no Expense
    </div>
}
