@using WebApplication1.ViewModel
@model CombinedHomeScreen
@{
    ViewData["Title"] = "Home Page";
}




<!-- Display User information -->
<h2>User Information</h2>
<p>Email: @Model.UserVM.Email</p>
<!-- Add other user properties as needed -->
<!-- Display User information -->
<h2>User Expense</h2>
<p>Total Expense: @Model.UserVM.TotalExpense</p>

<!-- Display Save Goals -->
<h2>Save Goals</h2>
@if (Model.SaveGoalVM.Any())
{
    <ul>
        @foreach (var saveGoal in Model.SaveGoalVM)
        {
            <li>@saveGoal.TitleGoal - Target: @saveGoal.TargetAmount</li>
        }
    </ul>
}
else
{
    <p>No save goals found.</p>
}

<!-- Display Month Of Expenses -->
<h2>Month Of Expenses</h2>
@if (Model.MonthOfExpenseVM.Any())
{
    <ul>
        @foreach (var monthOfExpense in Model.MonthOfExpenseVM)
        {
            <li>@monthOfExpense.numOfMonth - Total spent: @monthOfExpense.TotalAmountMoney</li>
        }
    </ul>
}
else
{
    <p>No month of expenses found.</p>
}
